﻿
@{
    ViewData["Title"] = "CoreUI Icons";
}

<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="card card-default">
            <div class="card-header">
                <i class="fa fa-picture-o"></i> CoreUI Icons
                <div class="card-header-actions">
                    <a class="card-header-action" href="https://github.com/coreui/coreui-icons" target="_blank">Github</a>
                </div>
            </div>
            <div class="card-body">
                <div class="row text-center">
                    <div class="col-6 col-sm-4 col-md-2">
                        <i class="icons font-2xl d-block mt-5 cui-account-logout"></i>
                        <div>account-logout</div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2">
                        <i class="icons font-2xl d-block mt-5 cui-action-redo"></i>
                        <div>action-redo</div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2">
                        <i class="icons font-2xl d-block mt-5 cui-action-undo"></i>
                        <div>action-undo</div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2">
                        <i class="icons font-2xl d-block mt-5 cui-align-center"></i>
                        <div>align-center</div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2">
                        <i class="icons font-2xl d-block mt-5 cui-align-left"></i>
                        <div>align-left</div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2">
                        <i class="icons font-2xl d-block mt-5 cui-align-right"></i>
                        <div>align-right</div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2">
                        <i class="icons font-2xl d-block mt-5 cui-arrow-bottom"></i>
                        <div>arrow-bottom</div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2">
                        <i class="icons font-2xl d-block mt-5 cui-arrow-left"></i>
                        <div>arrow-left</div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2">
                        <i class="icons font-2xl d-block mt-5 cui-arrow-right"></i>
                        <div>arrow-right</div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2">
                        <i class="icons font-2xl d-block mt-5 cui-arrow-top"></i>
                        <div>arrow-top</div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2">
                        <i class="icons font-2xl d-block mt-5 cui-ban"></i>
                        <div>ban</div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2">
                        <i class="icons font-2xl d-block mt-5 cui-basket-loaded"></i>
                        <div>basket-loaded</div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2">
                        <i class="icons font-2xl d-block mt-5 cui-bell"></i>
                        <div>bell</div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2">
                        <i class="icons font-2xl d-block mt-5 cui-bold"></i>
                        <div>bold</div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2">
                        <i class="icons font-2xl d-block mt-5 cui-bookmark"></i>
                        <div>bookmark</div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2">
                        <i class="icons font-2xl d-block mt-5 cui-briefcase"></i>
                        <div>briefcase</div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2">
                        <i class="icons font-2xl d-block mt-5 cui-british-pound"></i>
                        <div>british-pound</div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2">
                        <i class="icons font-2xl d-block mt-5 cui-brush"></i>
                        <div>brush</div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2">
                        <i class="icons font-2xl d-block mt-5 cui-calculator"></i>
                        <div>calculator</div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2">
                        <i class="icons font-2xl d-block mt-5 cui-calendar"></i>
                        <div>calendar</div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2">
                        <i class="icons font-2xl d-block mt-5 cui-cart"></i>
                        <div>cart</div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2">
                        <i class="icons font-2xl d-block mt-5 cui-chart"></i>
                        <div>chart</div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2">
                        <i class="icons font-2xl d-block mt-5 cui-check"></i>
                        <div>check</div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2">
                        <i class="icons font-2xl d-block mt-5 cui-chevron-bottom"></i>
                        <div>chevron-bottom</div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2">
                        <i class="icons font-2xl d-block mt-5 cui-chevron-left"></i>
                        <div>chevron-left</div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2">
                        <i class="icons font-2xl d-block mt-5 cui-chevron-right"></i>
                        <div>chevron-right</div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2">
                        <i class="icons font-2xl d-block mt-5 cui-chevron-top"></i>
                        <div>chevron-top</div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2">
                        <i class="icons font-2xl d-block mt-5 cui-circle-check"></i>
                        <div>circle-check</div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2">
                        <i class="icons font-2xl d-block mt-5 cui-circle-x"></i>
                        <div>circle-x</div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2">
                        <i class="icons font-2xl d-block mt-5 cui-cloud"></i>
                        <div>cloud</div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2">
                        <i class="icons font-2xl d-block mt-5 cui-cloud-download"></i>
                        <div>cloud-download</div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2">
                        <i class="icons font-2xl d-block mt-5 cui-cloud-upload"></i>
                        <div>cloud-upload</div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2">
                        <i class="icons font-2xl d-block mt-5 cui-code"></i>
                        <div>code</div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2">
                        <i class="icons font-2xl d-block mt-5 cui-cog"></i>
                        <div>cog</div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2">
                        <i class="icons font-2xl d-block mt-5 cui-comment-square"></i>
                        <div>comment-square</div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2">
                        <i class="icons font-2xl d-block mt-5 cui-credit-card"></i>
                        <div>credit-card</div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2">
                        <i class="icons font-2xl d-block mt-5 cui-cursor"></i>
                        <div>cursor</div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2">
                        <i class="icons font-2xl d-block mt-5 cui-dashboard"></i>
                        <div>dashboard</div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2">
                        <i class="icons font-2xl d-block mt-5 cui-delete"></i>
                        <div>delete</div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2">
                        <i class="icons font-2xl d-block mt-5 cui-dollar"></i>
                        <div>dollar</div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2">
                        <i class="icons font-2xl d-block mt-5 cui-drop"></i>
                        <div>drop</div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2">
                        <i class="icons font-2xl d-block mt-5 cui-envelope-closed"></i>
                        <div>envelope-closed</div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2">
                        <i class="icons font-2xl d-block mt-5 cui-envelope-letter"></i>
                        <div>envelope-letter</div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2">
                        <i class="icons font-2xl d-block mt-5 cui-envelope-open"></i>
                        <div>envelope-open</div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2">
                        <i class="icons font-2xl d-block mt-5 cui-euro"></i>
                        <div>euro</div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2">
                        <i class="icons font-2xl d-block mt-5 cui-file"></i>
                        <div>file</div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2">
                        <i class="icons font-2xl d-block mt-5 cui-globe"></i>
                        <div>globe</div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2">
                        <i class="icons font-2xl d-block mt-5 cui-graph"></i>
                        <div>graph</div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2">
                        <i class="icons font-2xl d-block mt-5 cui-home"></i>
                        <div>home</div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2">
                        <i class="icons font-2xl d-block mt-5 cui-inbox"></i>
                        <div>inbox</div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2">
                        <i class="icons font-2xl d-block mt-5 cui-info"></i>
                        <div>info</div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2">
                        <i class="icons font-2xl d-block mt-5 cui-italic"></i>
                        <div>italic</div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2">
                        <i class="icons font-2xl d-block mt-5 cui-justify-center"></i>
                        <div>justify-center</div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2">
                        <i class="icons font-2xl d-block mt-5 cui-justify-left"></i>
                        <div>justify-left</div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2">
                        <i class="icons font-2xl d-block mt-5 cui-justify-right"></i>
                        <div>justify-right</div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2">
                        <i class="icons font-2xl d-block mt-5 cui-laptop"></i>
                        <div>laptop</div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2">
                        <i class="icons font-2xl d-block mt-5 cui-layers"></i>
                        <div>layers</div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2">
                        <i class="icons font-2xl d-block mt-5 cui-lightbulb"></i>
                        <div>lightbulb</div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2">
                        <i class="icons font-2xl d-block mt-5 cui-list"></i>
                        <div>list</div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2">
                        <i class="icons font-2xl d-block mt-5 cui-location-pin"></i>
                        <div>location-pin</div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2">
                        <i class="icons font-2xl d-block mt-5 cui-lock-locked"></i>
                        <div>lock-locked</div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2">
                        <i class="icons font-2xl d-block mt-5 cui-lock-unlocked"></i>
                        <div>lock-unlocked</div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2">
                        <i class="icons font-2xl d-block mt-5 cui-magnifying-glass"></i>
                        <div>magnifying-glass</div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2">
                        <i class="icons font-2xl d-block mt-5 cui-map"></i>
                        <div>map</div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2">
                        <i class="icons font-2xl d-block mt-5 cui-monitor"></i>
                        <div>monitor</div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2">
                        <i class="icons font-2xl d-block mt-5 cui-moon"></i>
                        <div>moon</div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2">
                        <i class="icons font-2xl d-block mt-5 cui-note"></i>
                        <div>note</div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2">
                        <i class="icons font-2xl d-block mt-5 cui-options"></i>
                        <div>options</div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2">
                        <i class="icons font-2xl d-block mt-5 cui-paperclip"></i>
                        <div>paperclip</div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2">
                        <i class="icons font-2xl d-block mt-5 cui-pencil"></i>
                        <div>pencil</div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2">
                        <i class="icons font-2xl d-block mt-5 cui-people"></i>
                        <div>people</div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2">
                        <i class="icons font-2xl d-block mt-5 cui-phone"></i>
                        <div>phone</div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2">
                        <i class="icons font-2xl d-block mt-5 cui-pie-chart"></i>
                        <div>pie-chart</div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2">
                        <i class="icons font-2xl d-block mt-5 cui-print"></i>
                        <div>print</div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2">
                        <i class="icons font-2xl d-block mt-5 cui-puzzle"></i>
                        <div>puzzle</div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2">
                        <i class="icons font-2xl d-block mt-5 cui-rss"></i>
                        <div>rss</div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2">
                        <i class="icons font-2xl d-block mt-5 cui-screen-desktop"></i>
                        <div>screen-desktop</div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2">
                        <i class="icons font-2xl d-block mt-5 cui-screen-smartphone"></i>
                        <div>screen-smartphone</div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2">
                        <i class="icons font-2xl d-block mt-5 cui-settings"></i>
                        <div>settings</div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2">
                        <i class="icons font-2xl d-block mt-5 cui-share"></i>
                        <div>share</div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2">
                        <i class="icons font-2xl d-block mt-5 cui-shield"></i>
                        <div>shield</div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2">
                        <i class="icons font-2xl d-block mt-5 cui-sort-ascending"></i>
                        <div>sort-ascending</div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2">
                        <i class="icons font-2xl d-block mt-5 cui-sort-descending"></i>
                        <div>sort-descending</div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2">
                        <i class="icons font-2xl d-block mt-5 cui-speech"></i>
                        <div>speech</div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2">
                        <i class="icons font-2xl d-block mt-5 cui-speedometer"></i>
                        <div>speedometer</div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2">
                        <i class="icons font-2xl d-block mt-5 cui-star"></i>
                        <div>star</div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2">
                        <i class="icons font-2xl d-block mt-5 cui-sun"></i>
                        <div>sun</div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2">
                        <i class="icons font-2xl d-block mt-5 cui-tablet"></i>
                        <div>tablet</div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2">
                        <i class="icons font-2xl d-block mt-5 cui-tags"></i>
                        <div>tags</div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2">
                        <i class="icons font-2xl d-block mt-5 cui-task"></i>
                        <div>task</div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2">
                        <i class="icons font-2xl d-block mt-5 cui-thumb-down"></i>
                        <div>thumb-down</div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2">
                        <i class="icons font-2xl d-block mt-5 cui-thumb-up"></i>
                        <div>thumb-up</div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2">
                        <i class="icons font-2xl d-block mt-5 cui-trash"></i>
                        <div>trash</div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2">
                        <i class="icons font-2xl d-block mt-5 cui-underline"></i>
                        <div>underline</div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2">
                        <i class="icons font-2xl d-block mt-5 cui-user"></i>
                        <div>user</div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2">
                        <i class="icons font-2xl d-block mt-5 cui-user-female"></i>
                        <div>user-female</div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2">
                        <i class="icons font-2xl d-block mt-5 cui-user-follow"></i>
                        <div>user-follow</div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2">
                        <i class="icons font-2xl d-block mt-5 cui-user-unfollow"></i>
                        <div>user-unfollow</div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2">
                        <i class="icons font-2xl d-block mt-5 cui-wrench"></i>
                        <div>wrench</div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2">
                        <i class="icons font-2xl d-block mt-5 cui-yen"></i>
                        <div>yen</div>
                    </div>
                </div>
                <!-- /.row-->
            </div>
        </div>
    </div>
</div>
