﻿
            

@{ ViewData["Title"] = "Home Page";
    Layout = "/views/shared/_layout.cshtml"; }

<head>

    <style>
        div.scroll {
            width: 1100px;
            height: 250px;
            overflow-x: hidden;
            overflow-y: auto;
            text-align: center;
        }

        * {
            box-sizing: border-box;
        }

        #myInput {
            background-image: url('/css/searchicon.png');
            background-position: 10px 10px;
            background-repeat: no-repeat;
            width: 30%;
            font-size: 14px;
            /* padding: 12px 20px 12px 40px;*/
            border: 1px solid #ddd;
            margin-bottom: 12px;
            height: 40px;
        }

        #myTable {
            border-collapse: collapse;
            width: 100%;
            border: 1px solid #ddd;
            font-size: 18px;
        }

            #myTable th {
                text-align: left;
                padding: 12px;
                position: sticky;
                top: 0px;
            }

            #myTable td {
                text-align: left;
                padding: 12px;
            }
            /* #myTable th, #myTable td {
                text-align: left;
                padding: 12px;
            }*/
            #myTable tr {
                border-bottom: 1px solid #ddd;
            }

                #myTable tr.header, #myTable tr:hover {
                    background-color: #f1f1f1;
                }


        /*model poup css*/

        .file-upload {
            background-color: #ffffff;
            width: 450px;
            margin: 0 auto;
            padding: 0px;
        }

        .file-upload-btn {
            width: 100%;
            margin: 0;
            color: #fff;
            background: #1FB264;
            border: none;
            padding: 10px;
            border-radius: 4px;
            border-bottom: 4px solid #15824B;
            transition: all .2s ease;
            outline: none;
            text-transform: uppercase;
            font-weight: 700;
        }

            .file-upload-btn:hover {
                background: #1AA059;
                color: #ffffff;
                transition: all .2s ease;
                cursor: pointer;
            }

            .file-upload-btn:active {
                border: 0;
                transition: all .2s ease;
            }

        .file-upload-content {
            display: none;
            text-align: center;
        }

        .file-upload-input {
            position: absolute;
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            outline: none;
            opacity: 0;
            cursor: pointer;
        }

        .image-upload-wrap {
            margin-top: 0px;
            border: 1px dashed gray;
            position: relative;
            height: 100px;
        }
        .image-title-wrap {
            padding: 0 15px 15px 15px;
            color: #222;
        }

        .drag-text {
            text-align: center;
        }

            .drag-text h3 {
                font-weight: 100;
                text-transform: uppercase;
                color: #15824B;
                padding: 60px 0;
            }

        .file-upload-image {
            max-height: 200px;
            max-width: 200px;
            margin: auto;
            padding: 20px;
        }

        .remove-image {
            width: 200px;
            margin: 0;
            color: #fff;
            background: #cd4535;
            border: none;
            padding: 10px;
            border-radius: 4px;
            border-bottom: 4px solid #b02818;
            transition: all .2s ease;
            outline: none;
            text-transform: uppercase;
            font-weight: 700;
        }

            .remove-image:hover {
                background: #c13b2a;
                color: #ffffff;
                transition: all .2s ease;
                cursor: pointer;
            }

            .remove-image:active {
                border: 0;
                transition: all .2s ease;
            }
    </style>
</head>
<body>
    <h2>Applications</h2>


    <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group" role="group" aria-label="First group">
            <div style="width:240px;">
                <div style="float: left;">
                    <button class="btn btn-primary" style=" width: 100px;">
                        Excel
                    </button>
                </div>
                <div style="float: right;">
                    <button class="btn btn-primary" style=" width: 100px;">
                        Sync
                    </button>
                </div>
            </div>
        </div>

        <div class="input-group">
            <div class="input-group">
                <input type="search" class="form-control rounded" id="myInput" onkeyup="myFunction()" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                <div class="input-group-append" style=" margin-left: 5px;">
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modalPush" style=" height: 40px;">Upload</button>
                </div>
            </div>
        </div>
    </div>

    @*<div class="container">
        <div  class="row">
            <div class="col-12">
                <div class="col-3">
                    <button type="button" class="btn btn-primary">Primary</button>
                </div>
                <div class="col-3"></div>
                <div class="col-3"></div>
                <div class="col-3">
                    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">
                </div>
                </div>
        </div>
        </div>*@

    <div class="scroll">
        <table id="myTable">
            <tr class="header">
                <th style="width:20%;">Serial NO.</th>
                <th style="width:10%;">Batch ID</th>
                <th style="width:20%;"> Ackn No.</th>
                <th style="width:20%;">Financial Year</th>
                <th style="width:20%;">Submitted On</th>
                <th style="width:10%;">Status</th>
            </tr>
            <tr>
                <td>1001</td>
                <td>001</td>
                <td>1110</td>
                <td>2023-24</td>
                <td></td>
                <td>
                    <div class="btn-group btn-group-sm">
                        <a class="btn btn-primary">View</a>
                    </div>
                </td>

            </tr>
            <tr>
                <td>1002</td>
                <td>002</td>
                <td>1120</td>
                <td>2023-24</td>
                <td></td>
                <td>
                    <div class="btn-group btn-group-sm">
                        <a class="btn btn-primary">View</a>
                    </div>
                </td>
            </tr>
            <tr>
                <td>1003</td>
                <td>003</td>
                <td>1130</td>
                <td>2023-24</td>
                <td></td>
                <td>
                    <div class="btn-group btn-group-sm">
                        <a class="btn btn-primary">View</a>
                    </div>
                </td>
            </tr>
            <tr>
                <td>1004</td>
                <td>004</td>
                <td>1140</td>
                <td>2023-24</td>
                <td></td>
                <td>
                    <div class="btn-group btn-group-sm">
                        <a class="btn btn-primary">View</a>
                    </div>
                </td>
            </tr>
            <tr>
                <td>1005</td>
                <td>005</td>
                <td>1150</td>
                <td>2023-24</td>
                <td></td>
                <td>
                    <div class="btn-group btn-group-sm">
                        <a class="btn btn-primary">View</a>
                    </div>
                </td>
            </tr>
            <tr>
                <td>1001</td>
                <td>001</td>
                <td>1110</td>
                <td>2023-24</td>
                <td></td>
                <td>
                    <div class="btn-group btn-group-sm">
                        <a class="btn btn-primary">View</a>
                    </div>
                </td>
            </tr>
            <tr>
                <td>1001</td>
                <td>001</td>
                <td>1110</td>
                <td>2023-24</td>
                <td></td>
                <td>
                    <div class="btn-group btn-group-sm">
                        <a class="btn btn-primary">View</a>
                    </div>
                </td>
            </tr>
            <tr>
                <td>1001</td>
                <td>001</td>
                <td>1110</td>
                <td>2023-24</td>
                <td></td>
                <td>
                    <div class="btn-group btn-group-sm">
                        <a class="btn btn-primary">View</a>
                    </div>
                </td>
            </tr>
        </table>

        <script>
            function myFunction() {
                var input, filter, table, tr, td, i, txtValue;
                input = document.getElementById("myInput");
                filter = input.value.toUpperCase();
                table = document.getElementById("myTable");
                tr = table.getElementsByTagName("tr");
                for (i = 0; i < tr.length; i++) {
                    td = tr[i].getElementsByTagName("td")[0];
                    if (td) {
                        txtValue = td.textContent || td.innerText;
                        if (txtValue.toUpperCase().indexOf(filter) > -1) {
                            tr[i].style.display = "";
                        } else {
                            tr[i].style.display = "none";
                        }
                    }
                }
            }
        </script>
    </div>
</body>

<!--Modal: modalPush-->
<div class="modal fade" id="modalPush" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-notify modal-info" role="document">
        <!--Content-->
        <div class="modal-content text-center">
            <!--Header-->
            <div class="modal-header d-flex justify-content-center">
                <p class="heading">Item Upload</p>
            </div>

            <!--Body-->
            <div class="modal-body">
                <script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
                <div class="file-upload">
                    @*<button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )">Add Image</button>*@

                    <div class="image-upload-wrap">
                        <input class="file-upload-input" type='file' onchange="readURL(this);" accept=".xls/*" />
                        <div class="drag-text">
                            <i class="fa fa-cloud-upload" aria-hidden="true" style="margin: 25px 0 0 2px; font-size: 55px; "></i>
                        </div>
                    </div>
                    <div class="file-upload-content">
                        <img class="file-upload-image" src="#" alt="your image" />
                        <div class="image-title-wrap">
                            <button type="button" onclick="removeUpload()" class="remove-image">Remove <span class="image-title">Uploaded Image</span></button>
                        </div>
                    </div>
                </div>

            </div>

            <!--Footer-->
            <div class="modal-footer flex-center">
                <a href="~/excel/kcc.xls" class="btn btn-primary">Sample</a>
                <a href="" class="btn btn-info">Upload File</a>
                <a type="button" class="btn btn-outline-info waves-effect" data-dismiss="modal">Clear</a>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!--Modal: modalPush-->
