﻿
@{
    ViewData["Title"] = "Brand Buttons";
}

<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <strong>Brand Buttons</strong>
                        <small>Usage ex.</small>
                        <code style="text-transform:lowercase">
                            <button class="btn btn-brand btn-facebook">
                                <span>Facebook</span>
                            </button>
                        </code>
                    </div>
                    <div class="card-body">
                        <h6>
                            Size Small
                            <small>
                                Add this class
                                <code>.btn-sm</code>
                            </small>
                        </h6>
                        <p>
                            <button class="btn btn-brand btn-sm btn-facebook" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-facebook"></i>
                                <span>Facebook</span>
                            </button>
                            <button class="btn btn-brand btn-sm btn-twitter" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-twitter"></i>
                                <span>Twitter</span>
                            </button>
                            <button class="btn btn-brand btn-sm btn-linkedin" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-linkedin"></i>
                                <span>LinkedIn</span>
                            </button>
                            <button class="btn btn-brand btn-sm btn-flickr" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-flickr"></i>
                                <span>Flickr</span>
                            </button>
                            <button class="btn btn-brand btn-sm btn-tumblr" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-tumblr"></i>
                                <span>Tumblr</span>
                            </button>
                            <button class="btn btn-brand btn-sm btn-xing" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-xing"></i>
                                <span>Xing</span>
                            </button>
                            <button class="btn btn-brand btn-sm btn-github" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-github"></i>
                                <span>Github</span>
                            </button>
                            <button class="btn btn-brand btn-sm btn-html5" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-html5"></i>
                                <span>HTML5</span>
                            </button>
                            <button class="btn btn-brand btn-sm btn-openid" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-openid"></i>
                                <span>OpenID</span>
                            </button>
                            <button class="btn btn-brand btn-sm btn-stack-overflow" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-stack-overflow"></i>
                                <span>StackOverflow</span>
                            </button>
                            <button class="btn btn-brand btn-sm btn-css3" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-css3"></i>
                                <span>CSS3</span>
                            </button>
                            <button class="btn btn-brand btn-sm btn-youtube" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-youtube"></i>
                                <span>YouTube</span>
                            </button>
                            <button class="btn btn-brand btn-sm btn-dribbble" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-dribbble"></i>
                                <span>Dribbble</span>
                            </button>
                            <button class="btn btn-brand btn-sm btn-google-plus" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-google-plus"></i>
                                <span>Google+</span>
                            </button>
                            <button class="btn btn-brand btn-sm btn-instagram" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-instagram"></i>
                                <span>Instagram</span>
                            </button>
                            <button class="btn btn-brand btn-sm btn-pinterest" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-pinterest"></i>
                                <span>Pinterest</span>
                            </button>
                            <button class="btn btn-brand btn-sm btn-vk" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-vk"></i>
                                <span>VK</span>
                            </button>
                            <button class="btn btn-brand btn-sm btn-yahoo" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-yahoo"></i>
                                <span>Yahoo</span>
                            </button>
                            <button class="btn btn-brand btn-sm btn-behance" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-behance"></i>
                                <span>Behance</span>
                            </button>
                            <button class="btn btn-brand btn-sm btn-dropbox" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-dropbox"></i>
                                <span>Dropbox</span>
                            </button>
                            <button class="btn btn-brand btn-sm btn-reddit" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-reddit"></i>
                                <span>Reddit</span>
                            </button>
                            <button class="btn btn-brand btn-sm btn-spotify" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-spotify"></i>
                                <span>Spotify</span>
                            </button>
                            <button class="btn btn-brand btn-sm btn-vine" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-vine"></i>
                                <span>Vine</span>
                            </button>
                            <button class="btn btn-brand btn-sm btn-foursquare" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-foursquare"></i>
                                <span>Forsquare</span>
                            </button>
                            <button class="btn btn-brand btn-sm btn-vimeo" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-vimeo"></i>
                                <span>Vimeo</span>
                            </button>
                        </p>
                        <h6>Size Normal</h6>
                        <p>
                            <button class="btn btn-brand btn-facebook" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-facebook"></i>
                                <span>Facebook</span>
                            </button>
                            <button class="btn btn-brand btn-twitter" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-twitter"></i>
                                <span>Twitter</span>
                            </button>
                            <button class="btn btn-brand btn-linkedin" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-linkedin"></i>
                                <span>LinkedIn</span>
                            </button>
                            <button class="btn btn-brand btn-flickr" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-flickr"></i>
                                <span>Flickr</span>
                            </button>
                            <button class="btn btn-brand btn-tumblr" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-tumblr"></i>
                                <span>Tumblr</span>
                            </button>
                            <button class="btn btn-brand btn-xing" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-xing"></i>
                                <span>Xing</span>
                            </button>
                            <button class="btn btn-brand btn-github" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-github"></i>
                                <span>Github</span>
                            </button>
                            <button class="btn btn-brand btn-html5" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-html5"></i>
                                <span>HTML5</span>
                            </button>
                            <button class="btn btn-brand btn-openid" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-openid"></i>
                                <span>OpenID</span>
                            </button>
                            <button class="btn btn-brand btn-stack-overflow" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-stack-overflow"></i>
                                <span>StackOverflow</span>
                            </button>
                            <button class="btn btn-brand btn-css3" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-css3"></i>
                                <span>CSS3</span>
                            </button>
                            <button class="btn btn-brand btn-youtube" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-youtube"></i>
                                <span>YouTube</span>
                            </button>
                            <button class="btn btn-brand btn-dribbble" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-dribbble"></i>
                                <span>Dribbble</span>
                            </button>
                            <button class="btn btn-brand btn-google-plus" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-google-plus"></i>
                                <span>Google+</span>
                            </button>
                            <button class="btn btn-brand btn-instagram" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-instagram"></i>
                                <span>Instagram</span>
                            </button>
                            <button class="btn btn-brand btn-pinterest" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-pinterest"></i>
                                <span>Pinterest</span>
                            </button>
                            <button class="btn btn-brand btn-vk" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-vk"></i>
                                <span>VK</span>
                            </button>
                            <button class="btn btn-brand btn-yahoo" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-yahoo"></i>
                                <span>Yahoo</span>
                            </button>
                            <button class="btn btn-brand btn-behance" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-behance"></i>
                                <span>Behance</span>
                            </button>
                            <button class="btn btn-brand btn-dropbox" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-dropbox"></i>
                                <span>Dropbox</span>
                            </button>
                            <button class="btn btn-brand btn-reddit" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-reddit"></i>
                                <span>Reddit</span>
                            </button>
                            <button class="btn btn-brand btn-spotify" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-spotify"></i>
                                <span>Spotify</span>
                            </button>
                            <button class="btn btn-brand btn-vine" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-vine"></i>
                                <span>Vine</span>
                            </button>
                            <button class="btn btn-brand btn-foursquare" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-foursquare"></i>
                                <span>Forsquare</span>
                            </button>
                            <button class="btn btn-brand btn-vimeo" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-vimeo"></i>
                                <span>Vimeo</span>
                            </button>
                        </p>
                        <h6>
                            Size Large
                            <small>
                                Add this class
                                <code>.btn-lg</code>
                            </small>
                        </h6>
                        <p>
                            <button class="btn btn-brand btn-lg btn-facebook" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-facebook"></i>
                                <span>Facebook</span>
                            </button>
                            <button class="btn btn-brand btn-lg btn-twitter" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-twitter"></i>
                                <span>Twitter</span>
                            </button>
                            <button class="btn btn-brand btn-lg btn-linkedin" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-linkedin"></i>
                                <span>LinkedIn</span>
                            </button>
                            <button class="btn btn-brand btn-lg btn-flickr" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-flickr"></i>
                                <span>Flickr</span>
                            </button>
                            <button class="btn btn-brand btn-lg btn-tumblr" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-tumblr"></i>
                                <span>Tumblr</span>
                            </button>
                            <button class="btn btn-brand btn-lg btn-xing" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-xing"></i>
                                <span>Xing</span>
                            </button>
                            <button class="btn btn-brand btn-lg btn-github" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-github"></i>
                                <span>Github</span>
                            </button>
                            <button class="btn btn-brand btn-lg btn-html5" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-html5"></i>
                                <span>HTML5</span>
                            </button>
                            <button class="btn btn-brand btn-lg btn-openid" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-openid"></i>
                                <span>OpenID</span>
                            </button>
                            <button class="btn btn-brand btn-lg btn-stack-overflow" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-stack-overflow"></i>
                                <span>StackOverflow</span>
                            </button>
                            <button class="btn btn-brand btn-lg btn-css3" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-css3"></i>
                                <span>CSS3</span>
                            </button>
                            <button class="btn btn-brand btn-lg btn-youtube" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-youtube"></i>
                                <span>YouTube</span>
                            </button>
                            <button class="btn btn-brand btn-lg btn-dribbble" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-dribbble"></i>
                                <span>Dribbble</span>
                            </button>
                            <button class="btn btn-brand btn-lg btn-google-plus" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-google-plus"></i>
                                <span>Google+</span>
                            </button>
                            <button class="btn btn-brand btn-lg btn-instagram" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-instagram"></i>
                                <span>Instagram</span>
                            </button>
                            <button class="btn btn-brand btn-lg btn-pinterest" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-pinterest"></i>
                                <span>Pinterest</span>
                            </button>
                            <button class="btn btn-brand btn-lg btn-vk" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-vk"></i>
                                <span>VK</span>
                            </button>
                            <button class="btn btn-brand btn-lg btn-yahoo" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-yahoo"></i>
                                <span>Yahoo</span>
                            </button>
                            <button class="btn btn-brand btn-lg btn-behance" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-behance"></i>
                                <span>Behance</span>
                            </button>
                            <button class="btn btn-brand btn-lg btn-dropbox" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-dropbox"></i>
                                <span>Dropbox</span>
                            </button>
                            <button class="btn btn-brand btn-lg btn-reddit" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-reddit"></i>
                                <span>Reddit</span>
                            </button>
                            <button class="btn btn-brand btn-lg btn-spotify" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-spotify"></i>
                                <span>Spotify</span>
                            </button>
                            <button class="btn btn-brand btn-lg btn-vine" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-vine"></i>
                                <span>Vine</span>
                            </button>
                            <button class="btn btn-brand btn-lg btn-foursquare" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-foursquare"></i>
                                <span>Forsquare</span>
                            </button>
                            <button class="btn btn-brand btn-lg btn-vimeo" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-vimeo"></i>
                                <span>Vimeo</span>
                            </button>
                        </p>
                    </div>
                </div>
            </div>
            <!-- /.col-->
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <strong>Brand Buttons</strong>
                        <small>Only icons. Usage ex.</small>
                        <code style="text-transform:lowercase">
                            <button class="btn btn-brand btn-facebook">
                                <span>Facebook</span>
                            </button>
                        </code>
                    </div>
                    <div class="card-body">
                        <h6>
                            Size Small
                            <small>
                                Add this class
                                <code>.btn-sm</code>
                            </small>
                        </h6>
                        <p>
                            <button class="btn btn-brand btn-sm btn-facebook" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-facebook"></i>
                            </button>
                            <button class="btn btn-brand btn-sm btn-twitter" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-twitter"></i>
                            </button>
                            <button class="btn btn-brand btn-sm btn-linkedin" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-linkedin"></i>
                            </button>
                            <button class="btn btn-brand btn-sm btn-flickr" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-flickr"></i>
                            </button>
                            <button class="btn btn-brand btn-sm btn-tumblr" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-tumblr"></i>
                            </button>
                            <button class="btn btn-brand btn-sm btn-xing" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-xing"></i>
                            </button>
                            <button class="btn btn-brand btn-sm btn-github" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-github"></i>
                            </button>
                            <button class="btn btn-brand btn-sm btn-html5" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-html5"></i>
                            </button>
                            <button class="btn btn-brand btn-sm btn-openid" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-openid"></i>
                            </button>
                            <button class="btn btn-brand btn-sm btn-stack-overflow" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-stack-overflow"></i>
                            </button>
                            <button class="btn btn-brand btn-sm btn-css3" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-css3"></i>
                            </button>
                            <button class="btn btn-brand btn-sm btn-youtube" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-youtube"></i>
                            </button>
                            <button class="btn btn-brand btn-sm btn-dribbble" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-dribbble"></i>
                            </button>
                            <button class="btn btn-brand btn-sm btn-google-plus" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-google-plus"></i>
                            </button>
                            <button class="btn btn-brand btn-sm btn-instagram" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-instagram"></i>
                            </button>
                            <button class="btn btn-brand btn-sm btn-pinterest" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-pinterest"></i>
                            </button>
                            <button class="btn btn-brand btn-sm btn-vk" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-vk"></i>
                            </button>
                            <button class="btn btn-brand btn-sm btn-yahoo" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-yahoo"></i>
                            </button>
                            <button class="btn btn-brand btn-sm btn-behance" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-behance"></i>
                            </button>
                            <button class="btn btn-brand btn-sm btn-dropbox" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-dropbox"></i>
                            </button>
                            <button class="btn btn-brand btn-sm btn-reddit" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-reddit"></i>
                            </button>
                            <button class="btn btn-brand btn-sm btn-spotify" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-spotify"></i>
                            </button>
                            <button class="btn btn-brand btn-sm btn-vine" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-vine"></i>
                            </button>
                            <button class="btn btn-brand btn-sm btn-foursquare" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-foursquare"></i>
                            </button>
                            <button class="btn btn-brand btn-sm btn-vimeo" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-vimeo"></i>
                            </button>
                        </p>
                        <h6>Size Normal</h6>
                        <p>
                            <button class="btn btn-brand btn-facebook" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-facebook"></i>
                            </button>
                            <button class="btn btn-brand btn-twitter" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-twitter"></i>
                            </button>
                            <button class="btn btn-brand btn-linkedin" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-linkedin"></i>
                            </button>
                            <button class="btn btn-brand btn-flickr" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-flickr"></i>
                            </button>
                            <button class="btn btn-brand btn-tumblr" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-tumblr"></i>
                            </button>
                            <button class="btn btn-brand btn-xing" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-xing"></i>
                            </button>
                            <button class="btn btn-brand btn-github" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-github"></i>
                            </button>
                            <button class="btn btn-brand btn-html5" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-html5"></i>
                            </button>
                            <button class="btn btn-brand btn-openid" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-openid"></i>
                            </button>
                            <button class="btn btn-brand btn-stack-overflow" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-stack-overflow"></i>
                            </button>
                            <button class="btn btn-brand btn-css3" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-css3"></i>
                            </button>
                            <button class="btn btn-brand btn-youtube" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-youtube"></i>
                            </button>
                            <button class="btn btn-brand btn-dribbble" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-dribbble"></i>
                            </button>
                            <button class="btn btn-brand btn-google-plus" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-google-plus"></i>
                            </button>
                            <button class="btn btn-brand btn-instagram" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-instagram"></i>
                            </button>
                            <button class="btn btn-brand btn-pinterest" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-pinterest"></i>
                            </button>
                            <button class="btn btn-brand btn-vk" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-vk"></i>
                            </button>
                            <button class="btn btn-brand btn-yahoo" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-yahoo"></i>
                            </button>
                            <button class="btn btn-brand btn-behance" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-behance"></i>
                            </button>
                            <button class="btn btn-brand btn-dropbox" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-dropbox"></i>
                            </button>
                            <button class="btn btn-brand btn-reddit" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-reddit"></i>
                            </button>
                            <button class="btn btn-brand btn-spotify" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-spotify"></i>
                            </button>
                            <button class="btn btn-brand btn-vine" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-vine"></i>
                            </button>
                            <button class="btn btn-brand btn-foursquare" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-foursquare"></i>
                            </button>
                            <button class="btn btn-brand btn-vimeo" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-vimeo"></i>
                            </button>
                        </p>
                        <h6>
                            Size Large
                            <small>
                                Add this class
                                <code>.btn-lg</code>
                            </small>
                        </h6>
                        <p>
                            <button class="btn btn-brand btn-lg btn-facebook" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-facebook"></i>
                            </button>
                            <button class="btn btn-brand btn-lg btn-twitter" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-twitter"></i>
                            </button>
                            <button class="btn btn-brand btn-lg btn-linkedin" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-linkedin"></i>
                            </button>
                            <button class="btn btn-brand btn-lg btn-flickr" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-flickr"></i>
                            </button>
                            <button class="btn btn-brand btn-lg btn-tumblr" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-tumblr"></i>
                            </button>
                            <button class="btn btn-brand btn-lg btn-xing" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-xing"></i>
                            </button>
                            <button class="btn btn-brand btn-lg btn-github" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-github"></i>
                            </button>
                            <button class="btn btn-brand btn-lg btn-html5" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-html5"></i>
                            </button>
                            <button class="btn btn-brand btn-lg btn-openid" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-openid"></i>
                            </button>
                            <button class="btn btn-brand btn-lg btn-stack-overflow" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-stack-overflow"></i>
                            </button>
                            <button class="btn btn-brand btn-lg btn-css3" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-css3"></i>
                            </button>
                            <button class="btn btn-brand btn-lg btn-youtube" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-youtube"></i>
                            </button>
                            <button class="btn btn-brand btn-lg btn-dribbble" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-dribbble"></i>
                            </button>
                            <button class="btn btn-brand btn-lg btn-google-plus" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-google-plus"></i>
                            </button>
                            <button class="btn btn-brand btn-lg btn-instagram" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-instagram"></i>
                            </button>
                            <button class="btn btn-brand btn-lg btn-pinterest" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-pinterest"></i>
                            </button>
                            <button class="btn btn-brand btn-lg btn-vk" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-vk"></i>
                            </button>
                            <button class="btn btn-brand btn-lg btn-yahoo" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-yahoo"></i>
                            </button>
                            <button class="btn btn-brand btn-lg btn-behance" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-behance"></i>
                            </button>
                            <button class="btn btn-brand btn-lg btn-dropbox" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-dropbox"></i>
                            </button>
                            <button class="btn btn-brand btn-lg btn-reddit" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-reddit"></i>
                            </button>
                            <button class="btn btn-brand btn-lg btn-spotify" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-spotify"></i>
                            </button>
                            <button class="btn btn-brand btn-lg btn-vine" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-vine"></i>
                            </button>
                            <button class="btn btn-brand btn-lg btn-foursquare" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-foursquare"></i>
                            </button>
                            <button class="btn btn-brand btn-lg btn-vimeo" type="button" style="margin-bottom: 4px">
                                <i class="fa fa-vimeo"></i>
                            </button>
                        </p>
                    </div>
                </div>
            </div>
            <!-- /.col-->
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <strong>Brand Buttons</strong>
                        <small>Only text. Usage ex.</small>
                        <code style="text-transform:lowercase">
                            <button class="btn btn-brand btn-facebook text">
                                <span>Facebook</span>
                            </button>
                        </code>
                    </div>
                    <div class="card-body">
                        <h6>
                            Size Small
                            <small>
                                Add this class
                                <code>.btn-sm</code>
                            </small>
                        </h6>
                        <p>
                            <button class="btn btn-brand btn-sm btn-facebook" type="button" style="margin-bottom: 4px">
                                <span>Facebook</span>
                            </button>
                            <button class="btn btn-brand btn-sm btn-twitter" type="button" style="margin-bottom: 4px">
                                <span>Twitter</span>
                            </button>
                            <button class="btn btn-brand btn-sm btn-linkedin" type="button" style="margin-bottom: 4px">
                                <span>LinkedIn</span>
                            </button>
                            <button class="btn btn-brand btn-sm btn-flickr" type="button" style="margin-bottom: 4px">
                                <span>Flickr</span>
                            </button>
                            <button class="btn btn-brand btn-sm btn-tumblr" type="button" style="margin-bottom: 4px">
                                <span>Tumblr</span>
                            </button>
                            <button class="btn btn-brand btn-sm btn-xing" type="button" style="margin-bottom: 4px">
                                <span>Xing</span>
                            </button>
                            <button class="btn btn-brand btn-sm btn-github" type="button" style="margin-bottom: 4px">
                                <span>Github</span>
                            </button>
                            <button class="btn btn-brand btn-sm btn-html5" type="button" style="margin-bottom: 4px">
                                <span>HTML5</span>
                            </button>
                            <button class="btn btn-brand btn-sm btn-openid" type="button" style="margin-bottom: 4px">
                                <span>OpenID</span>
                            </button>
                            <button class="btn btn-brand btn-sm btn-stack-overflow" type="button" style="margin-bottom: 4px">
                                <span>StackOverflow</span>
                            </button>
                            <button class="btn btn-brand btn-sm btn-css3" type="button" style="margin-bottom: 4px">
                                <span>CSS3</span>
                            </button>
                            <button class="btn btn-brand btn-sm btn-youtube" type="button" style="margin-bottom: 4px">
                                <span>YouTube</span>
                            </button>
                            <button class="btn btn-brand btn-sm btn-dribbble" type="button" style="margin-bottom: 4px">
                                <span>Dribbble</span>
                            </button>
                            <button class="btn btn-brand btn-sm btn-google-plus" type="button" style="margin-bottom: 4px">
                                <span>Google+</span>
                            </button>
                            <button class="btn btn-brand btn-sm btn-instagram" type="button" style="margin-bottom: 4px">
                                <span>Instagram</span>
                            </button>
                            <button class="btn btn-brand btn-sm btn-pinterest" type="button" style="margin-bottom: 4px">
                                <span>Pinterest</span>
                            </button>
                            <button class="btn btn-brand btn-sm btn-vk" type="button" style="margin-bottom: 4px">
                                <span>VK</span>
                            </button>
                            <button class="btn btn-brand btn-sm btn-yahoo" type="button" style="margin-bottom: 4px">
                                <span>Yahoo</span>
                            </button>
                            <button class="btn btn-brand btn-sm btn-behance" type="button" style="margin-bottom: 4px">
                                <span>Behance</span>
                            </button>
                            <button class="btn btn-brand btn-sm btn-dropbox" type="button" style="margin-bottom: 4px">
                                <span>Dropbox</span>
                            </button>
                            <button class="btn btn-brand btn-sm btn-reddit" type="button" style="margin-bottom: 4px">
                                <span>Reddit</span>
                            </button>
                            <button class="btn btn-brand btn-sm btn-spotify" type="button" style="margin-bottom: 4px">
                                <span>Spotify</span>
                            </button>
                            <button class="btn btn-brand btn-sm btn-vine" type="button" style="margin-bottom: 4px">
                                <span>Vine</span>
                            </button>
                            <button class="btn btn-brand btn-sm btn-foursquare" type="button" style="margin-bottom: 4px">
                                <span>Forsquare</span>
                            </button>
                            <button class="btn btn-brand btn-sm btn-vimeo" type="button" style="margin-bottom: 4px">
                                <span>Vimeo</span>
                            </button>
                        </p>
                        <h6>Size Normal</h6>
                        <p>
                            <button class="btn btn-brand btn-facebook" type="button" style="margin-bottom: 4px">
                                <span>Facebook</span>
                            </button>
                            <button class="btn btn-brand btn-twitter" type="button" style="margin-bottom: 4px">
                                <span>Twitter</span>
                            </button>
                            <button class="btn btn-brand btn-linkedin" type="button" style="margin-bottom: 4px">
                                <span>LinkedIn</span>
                            </button>
                            <button class="btn btn-brand btn-flickr" type="button" style="margin-bottom: 4px">
                                <span>Flickr</span>
                            </button>
                            <button class="btn btn-brand btn-tumblr" type="button" style="margin-bottom: 4px">
                                <span>Tumblr</span>
                            </button>
                            <button class="btn btn-brand btn-xing" type="button" style="margin-bottom: 4px">
                                <span>Xing</span>
                            </button>
                            <button class="btn btn-brand btn-github" type="button" style="margin-bottom: 4px">
                                <span>Github</span>
                            </button>
                            <button class="btn btn-brand btn-html5" type="button" style="margin-bottom: 4px">
                                <span>HTML5</span>
                            </button>
                            <button class="btn btn-brand btn-openid" type="button" style="margin-bottom: 4px">
                                <span>OpenID</span>
                            </button>
                            <button class="btn btn-brand btn-stack-overflow" type="button" style="margin-bottom: 4px">
                                <span>StackOverflow</span>
                            </button>
                            <button class="btn btn-brand btn-css3" type="button" style="margin-bottom: 4px">
                                <span>CSS3</span>
                            </button>
                            <button class="btn btn-brand btn-youtube" type="button" style="margin-bottom: 4px">
                                <span>YouTube</span>
                            </button>
                            <button class="btn btn-brand btn-dribbble" type="button" style="margin-bottom: 4px">
                                <span>Dribbble</span>
                            </button>
                            <button class="btn btn-brand btn-google-plus" type="button" style="margin-bottom: 4px">
                                <span>Google+</span>
                            </button>
                            <button class="btn btn-brand btn-instagram" type="button" style="margin-bottom: 4px">
                                <span>Instagram</span>
                            </button>
                            <button class="btn btn-brand btn-pinterest" type="button" style="margin-bottom: 4px">
                                <span>Pinterest</span>
                            </button>
                            <button class="btn btn-brand btn-vk" type="button" style="margin-bottom: 4px">
                                <span>VK</span>
                            </button>
                            <button class="btn btn-brand btn-yahoo" type="button" style="margin-bottom: 4px">
                                <span>Yahoo</span>
                            </button>
                            <button class="btn btn-brand btn-behance" type="button" style="margin-bottom: 4px">
                                <span>Behance</span>
                            </button>
                            <button class="btn btn-brand btn-dropbox" type="button" style="margin-bottom: 4px">
                                <span>Dropbox</span>
                            </button>
                            <button class="btn btn-brand btn-reddit" type="button" style="margin-bottom: 4px">
                                <span>Reddit</span>
                            </button>
                            <button class="btn btn-brand btn-spotify" type="button" style="margin-bottom: 4px">
                                <span>Spotify</span>
                            </button>
                            <button class="btn btn-brand btn-vine" type="button" style="margin-bottom: 4px">
                                <span>Vine</span>
                            </button>
                            <button class="btn btn-brand btn-foursquare" type="button" style="margin-bottom: 4px">
                                <span>Forsquare</span>
                            </button>
                            <button class="btn btn-brand btn-vimeo" type="button" style="margin-bottom: 4px">
                                <span>Vimeo</span>
                            </button>
                        </p>
                        <h6>
                            Size Large
                            <small>
                                Add this class
                                <code>.btn-lg</code>
                            </small>
                        </h6>
                        <p>
                            <button class="btn btn-brand btn-lg btn-facebook" type="button" style="margin-bottom: 4px">
                                <span>Facebook</span>
                            </button>
                            <button class="btn btn-brand btn-lg btn-twitter" type="button" style="margin-bottom: 4px">
                                <span>Twitter</span>
                            </button>
                            <button class="btn btn-brand btn-lg btn-linkedin" type="button" style="margin-bottom: 4px">
                                <span>LinkedIn</span>
                            </button>
                            <button class="btn btn-brand btn-lg btn-flickr" type="button" style="margin-bottom: 4px">
                                <span>Flickr</span>
                            </button>
                            <button class="btn btn-brand btn-lg btn-tumblr" type="button" style="margin-bottom: 4px">
                                <span>Tumblr</span>
                            </button>
                            <button class="btn btn-brand btn-lg btn-xing" type="button" style="margin-bottom: 4px">
                                <span>Xing</span>
                            </button>
                            <button class="btn btn-brand btn-lg btn-github" type="button" style="margin-bottom: 4px">
                                <span>Github</span>
                            </button>
                            <button class="btn btn-brand btn-lg btn-html5" type="button" style="margin-bottom: 4px">
                                <span>HTML5</span>
                            </button>
                            <button class="btn btn-brand btn-lg btn-openid" type="button" style="margin-bottom: 4px">
                                <span>OpenID</span>
                            </button>
                            <button class="btn btn-brand btn-lg btn-stack-overflow" type="button" style="margin-bottom: 4px">
                                <span>StackOverflow</span>
                            </button>
                            <button class="btn btn-brand btn-lg btn-css3" type="button" style="margin-bottom: 4px">
                                <span>CSS3</span>
                            </button>
                            <button class="btn btn-brand btn-lg btn-youtube" type="button" style="margin-bottom: 4px">
                                <span>YouTube</span>
                            </button>
                            <button class="btn btn-brand btn-lg btn-dribbble" type="button" style="margin-bottom: 4px">
                                <span>Dribbble</span>
                            </button>
                            <button class="btn btn-brand btn-lg btn-google-plus" type="button" style="margin-bottom: 4px">
                                <span>Google+</span>
                            </button>
                            <button class="btn btn-brand btn-lg btn-instagram" type="button" style="margin-bottom: 4px">
                                <span>Instagram</span>
                            </button>
                            <button class="btn btn-brand btn-lg btn-pinterest" type="button" style="margin-bottom: 4px">
                                <span>Pinterest</span>
                            </button>
                            <button class="btn btn-brand btn-lg btn-vk" type="button" style="margin-bottom: 4px">
                                <span>VK</span>
                            </button>
                            <button class="btn btn-brand btn-lg btn-yahoo" type="button" style="margin-bottom: 4px">
                                <span>Yahoo</span>
                            </button>
                            <button class="btn btn-brand btn-lg btn-behance" type="button" style="margin-bottom: 4px">
                                <span>Behance</span>
                            </button>
                            <button class="btn btn-brand btn-lg btn-dropbox" type="button" style="margin-bottom: 4px">
                                <span>Dropbox</span>
                            </button>
                            <button class="btn btn-brand btn-lg btn-reddit" type="button" style="margin-bottom: 4px">
                                <span>Reddit</span>
                            </button>
                            <button class="btn btn-brand btn-lg btn-spotify" type="button" style="margin-bottom: 4px">
                                <span>Spotify</span>
                            </button>
                            <button class="btn btn-brand btn-lg btn-vine" type="button" style="margin-bottom: 4px">
                                <span>Vine</span>
                            </button>
                            <button class="btn btn-brand btn-lg btn-foursquare" type="button" style="margin-bottom: 4px">
                                <span>Forsquare</span>
                            </button>
                            <button class="btn btn-brand btn-lg btn-vimeo" type="button" style="margin-bottom: 4px">
                                <span>Vimeo</span>
                            </button>
                        </p>
                    </div>
                </div>
            </div>
            <!-- /.col-->
        </div>
        <!-- /.row-->
    </div>
</div>
