﻿@using X.PagedList;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@model KCC_App.KCCModels.Application

@{
    ViewData["Title"] = "Application Detail";
}


@Html.Partial("_Flash")


<div class="container-fluid">
    <div class="animated fadeIn">
        @*<div class="row">
            <div class="col-sm-12 text-right">
                <div class="card">
                    <div class="card-footer">
                        <button class="btn btn-sm btn-primary" type="submit">
                            <i class="fa fa-dot-circle-o"></i> Submit
                        </button>
                        <button class="btn btn-sm btn-danger" type="reset">
                            <i class="fa fa-ban"></i> Reset
                        </button>
                    </div>
                </div>
            </div>
        </div>*@
        <div class="row">
            <div class="col-sm-8">
                <div class="card">
                    <div class="card-header">
                        <strong>Batch Detail</strong>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="name">Beneficiary Name</label>
                                    @Html.TextBoxFor(m=>m.basicDetails.beneficiaryName, new { @class = "form-control readonly" ,@readonly = true, placeholder = "Beneficiary Name" })
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="name">Aadhaar Number</label>
                                    @Html.TextBoxFor(m=>m.basicDetails.aadhaarNumber, new { @class = "form-control readonly",@readonly = true, placeholder = "Aadhaar Number" })
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="name">Passbook Number</label>
                                    @Html.TextBoxFor(m=>m.basicDetails.beneficiaryPassbookName, new { @class = "form-control readonly",@readonly = true, placeholder = "Passbook Number" })
                                </div>
                            </div>

                        </div>


                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="name">Mobile Number</label>
                                    @Html.TextBoxFor(m=>m.basicDetails.mobile, new { @class = "form-control readonly",@readonly = true, placeholder = "Mobile Number" })
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="name">Date of Birth</label>
                                    @Html.TextBoxFor(m=>m.basicDetails.dob, new { @class = "form-control readonly",@readonly = true, placeholder = "Date of Birth" })
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="name">Gender</label>
                                    @Html.TextBoxFor(m=>m.basicDetails.gender, new { @class = "form-control readonly",@readonly = true, placeholder = "Gender" })
                                </div>
                            </div>


                        </div>


                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="name">Social Category</label>
                                    @Html.TextBoxFor(m=>m.basicDetails.socialCategory, new { @class = "form-control readonly",@readonly = true, placeholder = "Social Category" })
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="name">Farmer Category</label>
                                    @Html.TextBoxFor(m=>m.basicDetails.farmerCategory, new { @class = "form-control readonly" ,@readonly = true, placeholder = "Farmer Category" })
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="name">Farmer Type</label>
                                    @Html.TextBoxFor(m=>m.basicDetails.farmerType, new { @class = "form-control readonly",@readonly = true, placeholder = "Farmer Type" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="name">Primary Occupation</label>
                                    @Html.TextBoxFor(m=>m.basicDetails.primaryOccupation, new { @class = "form-control readonly",@readonly = true, placeholder = "Primary Occupation" })
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="name">Relative Type</label>
                                    @Html.TextBoxFor(m=>m.basicDetails.relativeType, new { @class = "form-control readonly",@readonly = true, placeholder = "Relative Type" })
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="name">Relative Name</label>
                                    @Html.TextBoxFor(m=>m.basicDetails.relativeName, new { @class = "form-control readonly",@readonly = true, placeholder = "Relative Name" })
                                </div>
                            </div>


                        </div>

                    </div>
                </div>
           @* </div>
            <div class="col-sm-8">*@
                <div class="card">
                    <div class="card-header">
                        <div class="pull-left">
                            <strong>KCC-ISS</strong>
                        </div>
                    </div>
                    <div class="card-body">
                       <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="name">Unique ID</label>
                                    @Html.TextBoxFor(m=>m.uniqueId, new { @class = "form-control readonly" ,@readonly = true, placeholder = "Unique ID" })
                                    
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="name">Application Number</label>
                                    @Html.TextBoxFor(m=>m.applicationNumber, new { @class = "form-control readonly",@readonly = true, placeholder = "Application Number" })
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="name">Farmer ID</label>
                                    @Html.TextBoxFor(m=>m.farmerId, new { @class = "form-control readonly",@readonly = true, placeholder = "Farmer ID" })
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="name">Recipient Unique ID</label>
                                    @Html.TextBoxFor(m=>m.recipientUniqueID, new { @class = "form-control readonly",@readonly = true, placeholder = "Recipient Unique ID" })
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
         
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-header">
                        <div class="pull-left">
                            <strong>Errors</strong>
                        </div>
                    </div>
                    <div class="card-body">
                        <ol>
                            @if (Model.errors!=null && Model.errors.Count() > 0)
                            {
                                @foreach (String error in Model.errors)
                                {
                                    @if (!string.IsNullOrWhiteSpace(error))
                                    {
                                        <li>@error</li>
                                    }
                                }
                            }
                        </ol>
                    </div>
                </div>
            </div>

            
        
        </div>
        
        <div class="card">
            <div class="card-header">
                <strong>Loan Details</strong>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="name">KCC Loan Sanctioned Date</label>
                            @Html.TextBoxFor(m=>m.loanDetails.kccLoanSanctionedDate, new { @class = "form-control readonly",@readonly = true, placeholder = "KCC Loan Sanctioned Date" })
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="name">KCC Loan Sanctioned Amount</label>
                            @Html.TextBoxFor(m=>m.loanDetails.kccLimitSanctionedAmount, new { @class = "form-control readonly",@readonly = true, placeholder = "KCC Loan Sanctioned Amount" })
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="name">KCC Drawing Limit For Financial Year</label>
                            @Html.TextBoxFor(m=>m.loanDetails.kccDrawingLimitForFY, new { @class = "form-control readonly",@readonly = true, placeholder = "KCC Drawing Limit For Financial Year" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <strong>Residential Details</strong>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="name">Village</label>
                            @Html.TextBoxFor(m=>m.residentialDetails.residentialVillage, new { @class = "form-control readonly",@readonly = true, placeholder = "Village" })
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="name">Address</label>
                            @Html.TextBoxFor(m=>m.residentialDetails.residentialAddress, new { @class = "form-control readonly",@readonly = true, placeholder = "Address" })
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="name">Pincode</label>
                            @Html.TextBoxFor(m=>m.residentialDetails.residentialPincode, new { @class = "form-control readonly",@readonly = true, placeholder = "Pincode" })
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <strong>Activity</strong>
            </div>
            @if (Model.activities.Count > 0)
                {
                <div class="card-body">
                
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="name">Activity Type</label>
                                    @Html.TextBoxFor(m=>m.activities.First().activityType, new { @class = "form-control readonly",@readonly = true, placeholder = "Activity Type" })
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="name">Loan Sanctioned Date</label>
                                    @Html.TextBoxFor(m=>m.activities.First().loanSanctionedDate, new { @class = "form-control readonly",@readonly = true, placeholder = "Loan Sanctioned Date" })
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="name">Loan Sanctioned Amount</label>
                                    @Html.TextBoxFor(m=>m.activities.First().loanSanctionedAmount, new { @class = "form-control readonly",@readonly = true, placeholder = "Loan Sanctioned Amount" })
                                </div>
                            </div>

                        </div>
                        @if (Model.activities.Count > 0 && Model.activities.First().activityRows.Count > 0)
                        {
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="name">Land Village</label>
                                        @Html.TextBoxFor(m=>m.activities.First().activityRows.First().landVillage, new { @class = "form-control readonly",@readonly = true, placeholder = "Land Village" })
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="name">Crop Code</label>
                                        @Html.TextBoxFor(m=>m.activities.First().activityRows.First().cropCode, new { @class = "form-control readonly",@readonly = true, placeholder = "Crop Code" })
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="name">Survey Number</label>
                                        @Html.TextBoxFor(m=>m.activities.First().activityRows.First().surveyNumber, new { @class = "form-control readonly",@readonly = true, placeholder = "Survey Number" })
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="name">Khata Number</label>
                                        @Html.TextBoxFor(m=>m.activities.First().activityRows.First().khataNumber, new { @class = "form-control readonly",@readonly = true, placeholder = "Khata Number" })
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="name">Land Area</label>
                                        @Html.TextBoxFor(m=>m.activities.First().activityRows.First().landArea, new { @class = "form-control readonly",@readonly = true, placeholder = "Land Area" })
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="name">Land Type</label>
                                        @Html.TextBoxFor(m=>m.activities.First().activityRows.First().landType, new { @class = "form-control readonly",@readonly = true, placeholder = "Land Type" })
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="name">Season</label>
                                        @Html.TextBoxFor(m=>m.activities.First().activityRows.First().season, new { @class = "form-control readonly",@readonly = true, placeholder = "Season" })
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="name">Plantation Code</label>
                                        @Html.TextBoxFor(m=>m.activities.First().activityRows.First().plantationCode, new { @class = "form-control readonly",@readonly = true, placeholder = "Plantation Code" })
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="name">Plantation Area</label>
                                        @Html.TextBoxFor(m=>m.activities.First().activityRows.First().plantationArea, new { @class = "form-control readonly",@readonly = true, placeholder = "Plantation Area" })
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="name">Live Stock Type</label>
                                        @Html.TextBoxFor(m=>m.activities.First().activityRows.First().liveStockType, new { @class = "form-control readonly",@readonly = true, placeholder = "Live Stock Type" })
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="name">Live Stock Code</label>
                                        @Html.TextBoxFor(m=>m.activities.First().activityRows.First().liveStockCode, new { @class = "form-control readonly",@readonly = true, placeholder = "Live Stock Code" })
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="name">Unit Count</label>
                                        @Html.TextBoxFor(m=>m.activities.First().activityRows.First().unitCount, new { @class = "form-control readonly",@readonly = true, placeholder = "Unit Count" })
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="name">Inland Type</label>
                                        @Html.TextBoxFor(m=>m.activities.First().activityRows.First().landType, new { @class = "form-control readonly",@readonly = true, placeholder = "Inland Type" })
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="name">Total Units</label>
                                        @Html.TextBoxFor(m=>m.activities.First().activityRows.First().totalUnits, new { @class = "form-control readonly",@readonly = true, placeholder = "Total Units" })
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="name">Total Area</label>
                                        @Html.TextBoxFor(m=>m.activities.First().activityRows.First().totalArea, new { @class = "form-control readonly",@readonly = true, placeholder = "Total Area" })
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="name">Marine Type</label>
                                        @Html.TextBoxFor(m=>m.activities.First().activityRows.First().marineType, new { @class = "form-control readonly",@readonly = true, placeholder = "Marine Type" })
                                    </div>
                                </div>
                            </div>
                        }
                
                </div>
            }

        </div>

    </div>
</div>






