﻿@using X.PagedList;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Core.Flash
@model PagedList<KCC_App.KCCModels.Batch>

@{ ViewData["Title"] = "Batch List"; 
   
}
@Html.Partial("_Flash")

    <div class="container-fluid">
        <div class="animated fadeIn">
        @*<div class="row hide">
                <div class="col-sm-12 text-right">
                    <div class="card">
                        <div class="card-footer">
                        <button class="btn btn-sm btn-primary" type="submit" data-toggle="modal" data-target="#myModal" >
                                <i class="fa fa-upload"></i> Upload
                            </button>
                        <button class="btn btn-sm btn-primary" type="reset" onclick="location.href='@Url.Action("RefreshBatches", "Batch",new { page = Model.PageNumber})'">
                                <i class="fa fa-refresh"></i> Refresh
                            </button>
                        </div>
                    </div>
                </div>
            </div>*@
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-md-7"><strong><h4>Batch List</h4></strong></div>
                                <div class="col-md-5" style="float: right;">
                                    <div class="row">

                                        <div class="col-md-12" align="right">
                                            <div class="btn-group">
                                                <form action="/Batch/List" method="post">
                                                    <div class="form-actions no-color">
                                                        <div class="btn-group mr-2" role="group" aria-label="First group">
                                                            <input type="text" hidden name="page" value="@Model.PageNumber" />
                                                            <input type="text" class="form-control form-control-sm" name="qry" value="@ViewData["CurrentFilter"]" />
                                                            <input type="submit" value="Search" class="btn btn-sm btn-primary" />
                                                        </div>

                                                    </div>
                                                </form>
                                            </div>
                                            <div class="btn-group" role="group" aria-label="First group">
                                                <button class="btn btn-sm btn-primary" type="submit" data-toggle="modal" data-target="#myModal">
                                                    <i class="fa fa-upload"></i> Upload
                                                </button>
                                            </div>

                                            <div class="btn-group" role="group" aria-label="First group">
                                                <button class="btn btn-sm btn-primary" type="reset" onclick="location.href='@Url.Action("RefreshBatches", "Batch",new { page = Model.PageNumber})'">
                                                    <i class="fa fa-refresh"></i> Refresh
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <table class="table table-responsive-sm table-bordered table-striped table-sm">
                                <thead>
                                    <tr>
                                        @*<th style="width:8%;">S No</th>*@
                                        <th>Batch Id</th>
                                        <th>Ackn No.</th>
                                        <th>Financial Year</th>
                                        <th>Submitted On</th>
                                        <th>Status</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var x in Model)
                                    {
                                        @*var index = @Model.IndexOf(x) + 1;*@
                                        <tr>
                                            @*<td>@index</td>*@
                                            <td>@x.batchId</td>
                                            <td>@x.BatchResponseData.batchAckId</td>
                                            <td>@x.financialYear</td>
                                            <td>@x.dateTime</td>
                                           @* <td>@Enum.GetName(typeof(KCC_App.KCCModels.Batch),@x.BatchResponse.datastatus)</td>*@
                                            <td>@x.BatchResponseData.BatchStatus.Name</td>
                                            <td>

                                                <a asp-controller="Batch" asp-action="Detail" asp-route-id="@x.batchId">
                                                    @*<input type="submit" class="btn btn-primary" value="View" />*@
                                                    <button class="btn btn-sm btn-primary" type="submit">
                                                        <i class="fa fa-eye"></i> View
                                                    </button>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <nav>
                            @Html.PagedListPager(Model, page => Url.Action("List", new { page = page }), new PagedListRenderOptions()
                            {
                            ActiveLiElementClass = "active",
                            PageClasses = new[]{ "page-link"},
                            LiElementClasses=new[] { "page-item" },
                            UlElementClasses = new[] { "pagination","mt-3" },
                            LinkToNextPageFormat = "Next",
                            LinkToPreviousPageFormat = "Previous",
                            MaximumPageNumbersToDisplay = 10,
                            DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
                            DisplayLinkToNextPage = PagedListDisplayMode.Always
                            })
                            </nav>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <div>
                    <h4 class="modal-title text-center ">Upload</h4>
                </div>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <div>
                   <form  name="myform" onSubmit="return validateFileInput()" asp-controller="Batch" asp-action="UploadBatch" method="post" enctype="multipart/form-data">
                       <div class="row">
                           <div class="col-sm-6">
                                <input class="form-control" id="file-to-upload" type="file" name="postedFile" />
                            </div>
                            <div class="col-sm-6 pull-right" >
                                <input  type="submit" class="btn btn-sm btn-dark" value="Upload" />
                            </div>
                        </div>
                   </form>
                </div>
            </div>
            <div class="modal-footer" >
               
                <a href="~/excel/kcc-sample.xls" type="button" class="btn btn-sm btn-primary pull-left"><i class="fa fa-download"></i> Sample</a>
                <button id="button-reset" type="button" class="btn btn-secondary">Clear</button>
           </div>
        </div>
    </div>
</div>

<script>
    $('#button-reset').click(function (e) {
        var $el = $('#file-to-upload');
        $el.wrap('<form>').closest('form').get(0).reset();
        $el.unwrap();
    });
    let output = document.forms['myform']['postedFile'];
    function validateFileInput() {
       
        if (output.value != '') {
            
        } else {
            alert("Please choose file");
            return false;
        }
    }
   
</script>

