﻿@{ ViewData["Title"] = "Home Page";
    Layout = "/views/shared/_layout.cshtml"; }
<!DOCTYPE html>

<style>
    table {
        border: 1px solid black;
        width: 100%;
        border-collapse: collapse;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: center;
        padding: 8px;
    }

    .pull-right {
        float: right;
    }
</style>
<body>

    <h3>DOWNLOAD SAMPLE</h3>


    <li id="search-bar" class="pull-right">
        <div>
            <input type="text" id="myinput" name="" placeholder="Search..." />
        </div>
    </li>

    <table>
        <thead>
            <tr>
                <th><b>CODE</b></th>
                <th><b>NAME</b></th>
            </tr>
        </thead>
        <tbody id="mytable">
            <tr>
                <td>101</td>
                <td>Nidhi</td>
            </tr>
            <tr>
                <td>102</td>
                <td>Dadwaria</td>
            </tr>
            <tr>
                <td>103</td>
                <td>Sakshi</td>
            </tr>
            <tr>
                <td>104</td>
                <td>Geetakshi</td>
            </tr>
            <tr>
                <td>105</td>
                <td>Himanshu Kohli</td>
            </tr>
            <tr>
                <td>106</td>
                <td>vishal verma</td>
            </tr>
        </tbody>
    </table>
    <script src="~/Scripts/jquery-1.4.1.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#myinput').on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("mytable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
                });
            });
        })
    </script>
</body>


